<section>
        <h1 class="text-center text-main my-2">forget password</h1>

@if (step == 1) 
{
    
    <form [formGroup]="verfyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="emailSub()">
        <div class="my-2">
            <label for="email">email</label>
            
            <input formControlName="email" type="email" id="email" class="form-control">
        </div>
    
    
            <button [disabled]="verfyEmail.invalid"  class="btn-main ms-auto d-block"> verify email</button>
            </form>
}



    
   @else if (step == 2) 
   {
    <form [formGroup]="verfyCode" class="bg-main-light rounded-4 shadow p-3 gap-3" (ngSubmit)="codeSub()">
        <div class="my-2">
            <label for="resetCode">resetCode</label>
            
            <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
        </div>
    
    
            <button [disabled]="verfyCode.invalid"  class="btn-main ms-auto d-block "> verify code</button>
            </form>
   }

        



                
        @else if (step == 3) 
        {
            <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="passSub()">
                <div class="my-2">
                    <label for="email">email</label>
                    
                    <input readonly formControlName="email" type="email" id="email" class="form-control">
                </div>
            
    
                <div class="my-2">
                    <label for="newPassword">newPassword</label>
                    
                    <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
                </div>
    
    
            
                    <button [disabled]="resetPassword.invalid"  class="btn-main ms-auto d-block"> verify email</button>
                    </form>
        }





</section>
